@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(@Url.Content("~/Content/mytemplate/")images/myImages/003.jpg);">
    <h2 class="l-text2 t-center">
        About
    </h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="@Url.Content("~/Content/mytemplate/")images/myImages/004.jpg" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    Our story
                </h3>

                <p class="p-b-28">
                    Bringing attractive and responsible fashion, and improve the quality of customer service, are Fashe's priorities

                    Fashe’s story begins with the opening of our first store in the Spanish coastal city of A Coruña in 1975, an early milestone in our company’s long history. Over the years, Fashe has remained faithful to its core values, expressed simply in the same four key words that define all our stores: beauty, clarity, functionality and sustainability.

                    Nurturing a highly intimate relationship with its customers, Fashe’s designers respond instinctively to their changing needs, reacting to the latest trends and constant feedback received across its Woman, Man and Kids collections, to deliver new ideas in the right place and at the right moment.

                    96

                    Markets

                    46

                    Online Markets

                    Further enhancing the quality of our customer service, Fashe stores also include Radio Frequency Identification Technology (RFID), using cutting-edge systems to track the location of garments instantly and making those most in demand rapidly available to customers.

                    Fashe’s flagship eco-stores underline the brand’s unwavering focus on sustainability and improved customer experience. These developments have been further enriched by a range of new and innovative projects, such as the installation of clothing recycling containers in-store and a scheme providing for free at-home collection of used garments to complement the delivery of online orders.


                </p>

                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                    </p>

                    <span class="s-text7">
                        - Steve Job’s
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
