
<!--  -->
<h4 class="m-text14 p-b-7">
    Categories
</h4>

<ul class="p-b-54">


    <li class="p-t-4">
        @Html.ActionLink("Women", "Index", "Product", new { category = 1 }, null)
    </li>

    <li class="p-t-4">
        @Html.ActionLink("Men", "Index", "Product", new { category = 2 }, null)
    </li>

    <li class="p-t-4">
        @Html.ActionLink("Kids", "Index", "Product", new { category = 3 }, null)
    </li>
</ul>
